<header id="top">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/" title="Tyler Krys">
      <img src="/images/tk-logo-30x30.jpg" width="30" height="30" class="d-inline-block align-top" alt="TK logo">
      Tyler Krys
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#projects">Web Development Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#social-links">Social Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog" title="Blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#contact-form" title="Contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
