<header id="top">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/" title="Tyler Krys - Full Stack Web Developer">
      <img src="/images/tk-logo.svg" class="d-inline-block align-top tk-logo-header" alt="TK logo">
      Tyler Krys
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#projects" title="Web Development Projects">Web Development Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#social-links" title="Social Media Links">Social Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog" title="Blog Articles by Tyler Krys">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#contact-form" title="Contact Tyler Krys">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
