<header id="top">
  <nav class="navbar navbar-light bg-faded">
    <ul class="nav">
      <li class="nav-item">
        <a class="navbar-brand" href="/" title="Tyler Krys">
          <img src="/images/favicon-96x96.png" width="30" height="30" class="d-inline-block align-top" alt="TK logo">
          Tyler Krys
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/" title="Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog" title="Blog">Blog</a>
      </li>
    </ul>
  </nav>
</header>
