<div class="container-full-height container-hero">
  <div class="hero-headline">
    <div class="col-xs-12 col-sm-4 offset-sm-4">
      <h1 class="text-center"><a href="https://tylerkrys.ca" title="Tyler Krys - Full Stack Web Developer">Tyler Krys</a></h1>
      <img src="/images/gravatar-150px.png" class="gravatar" alt="Tyler Krys">
      <p>Full stack web developer with a background in e-commerce, marketing, and sales. Digital rights advocate, frequent traveller, and eager team player. JavaScripting in Victoria, British Columbia, Canada.</p>
    </div>
  </div>
</div>
