<div class="container container-full-height container-social" id="social-links">
  <div class="col-xs-12 col-sm-6 offset-sm-3">
    <h2 class="heading-thin text-center">Social Media</h2>
    <div class="list-group">
      <a href="https://github.com/ty2k" class="list-group-item list-group-item-action" title="Tyler Krys - GitHub">
        <img src="/images/icon-github-logo.svg" class="icon-social" alt="GitHub icon"> &nbsp; GitHub
      </a>
      <a href="https://www.linkedin.com/in/TylerKrys/" class="list-group-item list-group-item-action" title="Tyler Krys - LinkedIn">
        <img src="/images/icon-linkedin-logo.svg" class="icon-social" alt="LinkedIn icon"> &nbsp; LinkedIn
      </a>
      <a href="https://app.codesignal.com/profile/ty2k" class="list-group-item list-group-item-action" title="Tyler Krys - CodeSignal">
        <img src="/images/icon-code.svg" class="icon-social" alt="code icon"> &nbsp; CodeSignal
      </a>
      <a href="https://www.freecodecamp.com/ty2k" class="list-group-item list-group-item-action" title="Tyler Krys - freeCodeCamp">
        <img src="/images/icon-freecodecamp-logo.svg" class="icon-social" alt="freeCodeCamp icon"> &nbsp; freeCodeCamp
      </a>
      <a href="/blog" class="list-group-item list-group-item-action" title="Tyler Krys - Blog">
        <img src="/images/icon-blog.svg" class="icon-social" alt="blog icon"> &nbsp; Blog
      </a>
      <a href="https://twitter.com/TylerKrys" class="list-group-item list-group-item-action" title="Tyler Krys - Twitter">
        <img src="/images/icon-twitter-logo.svg" class="icon-social" alt="Twitter icon"> &nbsp; Twitter
      </a>
    </div>
  </div>
</div>
