<div class="container container-social" id="social-links">
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      <h2 class="heading-thin text-center">Social Media</h2>
      <div class="list-group">
        <a href="https://github.com/ty2k" class="list-group-item active" title="Tyler Krys - GitHub"><i class="fa fa-github" aria-hidden="true"></i>
 &nbsp; GitHub</a>
        <a href="https://www.linkedin.com/in/TylerKrys/" class="list-group-item list-group-item-action" title="Tyler Krys - LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
 &nbsp; LinkedIn</a>
        <a href="https://app.codesignal.com/profile/ty2k" class="list-group-item list-group-item-action" title="Tyler Krys - CodeSignal"><i class="fa fa-code" aria-hidden="true"></i>
 &nbsp; CodeSignal</a>
        <a href="https://www.freecodecamp.com/ty2k" class="list-group-item list-group-item-action" title="Tyler Krys - freeCodeCamp"><i class="fa fa-free-code-camp" aria-hidden="true"></i>
 &nbsp; freeCodeCamp</a>
        <a href="/blog" class="list-group-item list-group-item-action" title="Tyler Krys - Blog"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
 &nbsp; Blog</a>
        <a href="https://plus.google.com/u/0/+TylerKrys" class="list-group-item list-group-item-action" title="Tyler Krys - Google Plus"><i class="fa fa-google-plus-official" aria-hidden="true"></i>
 &nbsp; Google&#43;</a>
        <a href="https://twitter.com/TylerKrys" class="list-group-item list-group-item-action" title="Tyler Krys - Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i>
 &nbsp; Twitter</a>
      </div>
    </div>
  </div>
</div>
