<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Login</title>
    <%- include('./partials/_head.ejs') %>
    <!-- No-index -->
    <meta name="robots" content="noindex">
  </head>
  <body>
    <%- include('./partials/_header.ejs') %>
    <div class="col-xs-12 col-sm-6 offset-sm-3 ">
      <div class="container">
        <h1 class="heading-thin text-center">Admin Login</h1>
        <form action="/admin/login" method="POST">
          <div class="form-group">
            <input type="user" class="form-control" id="user" placeholder="User" name="user" required autofocus>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
          </div>
          <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <% include('./partials/_bootstrap.ejs') %>
  </body>
</html>
