<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact Form Failure - Tyler Krys</title>
    <% include partials/_head.ejs %>
    <!-- Canonical -->
    <link rel="canonical" href="https://tylerkrys.ca">
  </head>
  <body>
    <% include partials/_header.ejs %>
    <div class="jumbotron" id="hero">
      <h1 class="text-center">Fail! :(</h1>
      <p class="text-center">That didn't work. You should do better.</p>
      <p class="text-center"><a href="/">Back to TylerKrys.ca</a></p>
    </div>
    <% include partials/_footer.ejs %>
    <% include partials/_bootstrap.ejs %>
  </body>
</html>
