<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tyler Krys - Web Developer</title>
    <% include partials/_head.ejs %>
    <!-- Canonical -->
    <link rel="canonical" href="https://tylerkrys.ca">
  </head>
  <body>
    <div class="container-full-height container-hero">
      <div class="hero-headline">
        <div class="container">
          <h1 class="text-center"><a href="https://tylerkrys.ca" title="Tyler Krys - Web Developer">Tyler Krys</a></h1>
          <img src="https://www.gravatar.com/avatar/c46816c30deddf4efe26043530348bc5?s=150" class="gravatar">
          <p class="text-center">Web developer with a background in retail marketing and sales.</p>
          <p class="text-center">Seeking opportunities in Victoria, BC.</p>
        </div>
      </div>
    </div>

    <div class="container container-social">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-social">
          <h2>Web Development</h2>
          <div class="list-group">
            <a href="https://github.com/ty2k" class="list-group-item active" title="Tyler Krys - GitHub"><i class="fa fa-github" aria-hidden="true"></i>
     &nbsp GitHub</a>
            <a href="https://github.com/ty2k/express-portfolio" class="list-group-item list-group-item-action">Express Portfolio (runs this site)</a>
            <a href="https://github.com/ty2k/CommunityCalendar" class="list-group-item list-group-item-action">Community Calendar</a>
            <a href="https://github.com/ty2k/jungle-rails" class="list-group-item list-group-item-action">Jungle</a>
            <a href="https://github.com/ty2k/chatty-app" class="list-group-item list-group-item-action">Chatty App</a>
            <a href="https://github.com/ty2k/WikiMaps" class="list-group-item list-group-item-action">WikiMaps</a>
            <a href="https://github.com/ty2k/tweeter" class="list-group-item list-group-item-action">Tweeter</a>
            <a href="https://github.com/ty2k/tinyapp" class="list-group-item list-group-item-action">TinyApp</a>
            <a href="https://github.com/ty2k/github-avatar-downloader" class="list-group-item list-group-item-action">GitHub Avatar Downloader</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-social">
          <h2>Social</h2>
          <div class="list-group">
            <a href="https://www.linkedin.com/in/tyler-krys-5b06bb3/" class="list-group-item list-group-item-action" title="Tyler Krys - LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
     &nbsp LinkedIn</a>
            <a href="https://www.freecodecamp.com/ty2k" class="list-group-item list-group-item-action" title="Tyler Krys - freeCodeCamp"><i class="fa fa-free-code-camp" aria-hidden="true"></i>
     &nbsp freeCodeCamp</a>
            <a href="https://plus.google.com/u/0/+TylerKrys" class="list-group-item list-group-item-action" title="Tyler Krys - Google Plus"><i class="fa fa-google-plus-official" aria-hidden="true"></i>
     &nbsp Google&#43;</a>
            <a href="https://twitter.com/TylerKrys" class="list-group-item list-group-item-action" title="Tyler Krys - Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i>
     &nbsp Twitter</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container container-full-height container-contact">
      <form class="form-horizontal" action="/contact" id="contact-form" method="post" role="form">
        <fieldset>
          <div class="container">
            <h2>Contact</h2>
            <div class="controls">
              <div class="form-group">
                <label class="control-label" for="name">Name &#42;</label>
                <div>
                  <input id="name" name="name" type="text" placeholder="Your name" class="form-control" required="required">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="email">Email &#42;</label>
                <div>
                  <input id="email" name="email" type="text" placeholder="Your email" class="form-control" required="required">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="message">Message &#42;</label>
                <div>
                  <textarea class="form-control" id="message" name="message" placeholder="Enter your message here" rows="3" required="required"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-lg" title="Submit contact form"><i class="fa fa-envelope" aria-hidden="true"></i>
     &nbsp Submit</button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
