<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tyler Krys - Web Developer</title>
    <% include partials/_head.ejs %>
    <!-- Canonical -->
    <link rel="canonical" href="https://tylerkrys.ca">
  </head>
  <body>
    <% include partials/_header.ejs %>
    <div class="container-full-height container-hero">
      <div class="hero-headline">
        <div class="container">
          <h1 class="text-center"><a href="https://tylerkrys.ca" title="Tyler Krys - Web Developer">Tyler Krys</a></h1>
          <img src="https://www.gravatar.com/avatar/c46816c30deddf4efe26043530348bc5?s=150" class="gravatar">
          <p class="text-center">Web developer with a background in retail marketing and sales.</p>
          <p class="text-center">Seeking opportunities in Victoria, BC.</p>
        </div>
      </div>
    </div>

    <div class="container container-projects" id="projects">
      <h2 class="heading-thin text-center">Web Development Projects</h2>

      <div class="row project">
        <div class="col-xs-12 col-sm-5">
          <div class="project-img-container">
            <img src="/images/screenshot-express-portfolio.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <h3>Express Portfolio</h3>
          <p class="project-stack">Node &#124; Express &#124; Extended JavaScript &#124; Postgres &#124; Knex &#124; Sass &#124; Bootstrap &#124; Nodemailer</p>
          <p class="project-description">This portfolio site is driven by a Node.js and Express app and styled with Sass and Bootstrap. The <a href="#contact-form">contact form</a> uses Nodemailer, which I've recently <a href="/blog/adding-nodemailer-contact-form-node-express-app" title="Adding a Nodemailer Email Contact Form to a Node and Express App">blogged about</a> using a custom blog stored with Postgres and accessed with Knex. The site is deployed on Heroku, served over HTTPS, and compressed and minified to load in a snap.</p>
          <a class="link-unstyled btn-project" href="https://github.com/ty2k/express-portfolio">Visit project GitHub</a>
        </div>
      </div>

      <div class="row project">
        <div class="col-xs-12 col-sm-5">
          <div class="project-img-container">
            <img src="/images/screenshot-community-calendar.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <h3>Community Calendar</h3>
          <p class="project-stack">Node &#124; Express &#124; Extended JavaScript &#124; Postgres &#124; Knex &#124; Sass &#124; Bootstrap &#124; bcrypt &#124; cookie-session</p>
          <p class="project-description">Community Calendar is a group project that aggregates local events for easy browsing. Registered users are able to save their favorite events and event venues. NPM packages bcrypt and cookie-session are used for user authentication. <a href="https://ccalendar.ca">See it deployed</a> and check out what's happening in your neighborhood.</p>
          <a class="link-unstyled btn-project" href="https://github.com/ty2k/express-portfolio">Visit project GitHub</a>
          <a class="link-unstyled btn-project" href="https://ccalendar.ca">Visit project website</a>
        </div>
      </div>

      <div class="row project">
        <div class="col-xs-12 col-sm-5">
          <div class="project-img-container">
            <img src="/images/screenshot-jungle-rails.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <h3>Jungle Rails</h3>
          <p class="project-stack">Rails &#124; RSpec &#124; Postgres &#124; Sass &#124; Bootstrap &#124; Stripe API</p>
          <p class="project-description">A Rails e-commerce project with an inherited codebase. I added admin functionality (adding and removing products and categories with HTTP basic authentication), product reviews, and RSpec testing.</p>
          <a class="link-unstyled btn-project" href="https://github.com/ty2k/jungle-rails">Visit project GitHub</a>
        </div>
      </div>

      <div class="row project">
        <div class="col-xs-12 col-sm-5">
          <div class="project-img-container">
            <img src="/images/screenshot-chatty-app.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <h3>Chatty App</h3>
          <p class="project-stack">Node &#124; React &#124; Express &#124; WebSockets &#124; uuid</p>
          <p class="project-description">Chatty App is a Node/React client with a matching Node/Express/WebSockets server (<a href="https://github.com/ty2k/chatty-server" title="Chatty Server on GitHub">Chatty Server</a>) that allows users to chat in a common chatroom in their web browser. Users can change their display names, and all messages are tagged with a UUID.</p>
          <a class="link-unstyled btn-project" href="https://github.com/ty2k/chatty-app">Visit client GitHub</a>
          <a class="link-unstyled btn-project" href="https://github.com/ty2k/chatty-server">Visit server GitHub</a>
        </div>
      </div>

      <div class="row project">
        <div class="col-xs-12 col-sm-5">
          <div class="project-img-container">
            <img src="/images/screenshot-wikimaps.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <h3>WikiMaps</h3>
          <p class="project-stack">Node &#124; Express &#124; Embedded JavaScript &#124; Postgres &#124; Knex &#124; Sass &#124; Bootstrap &#124; bcrypt &#124; cookie-session &#124;</p>
          <p class="project-description">A group Node and Express app that uses the Google Maps JavaScript API to let users plot points on maps for sharing. The site is styled with Bootstrap and Sass using a mobile-first approach. User authentication is achieved with bcrypt and cookie-session.</p>
          <a class="link-unstyled btn-project" href="https://github.com/ty2k/WikiMaps">Visit project GitHub</a>
        </div>
      </div>

      <div class="row project">
        <div class="col-xs-12 col-sm-5">
          <div class="project-img-container">
            <img src="/images/screenshot-tweeter.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <h3>Tweeter</h3>
          <p class="project-stack">Node &#124; Express &#124; jQuery &#124; MongoDB &#124; Vanillicon API</p>
          <p class="project-description">Tweeter is a single page app that uses jQuery and MongoDB to store and present Twitter-like tweets dynamically. Vanillicon's API is used to select random avatars for the tweets.</p>
          <a class="link-unstyled btn-project" href="https://github.com/ty2k/tweeter">Visit project GitHub</a>
        </div>
      </div>

      <div class="row project">
        <div class="col-xs-12 col-sm-5">
          <div class="project-img-container">
            <img src="/images/screenshot-tinyapp.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <h3>TinyApp</h3>
          <p class="project-stack">Node &#124; Express &#124; Embedded JavaScript &#124; bcrypt &#124; cookie-session</p>
          <p class="project-description">A Bitly-like URL shortening service built with Node and Express and templated with EJS. User authentication is accomplished with bcrypt and cookie-session.</p>
          <a class="link-unstyled btn-project" href="https://github.com/ty2k/tinyapp">Visit project GitHub</a>
        </div>
      </div>

      <div class="row project">
        <div class="col-xs-12 col-sm-5">
          <div class="project-img-container">
            <img src="/images/screenshot-github-avatar-downloader.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <h3>GitHub Avatar Downloader</h3>
          <p class="project-stack">Node &#124; Dotenv &#124; request &#124; GitHub API</p>
          <p class="project-description">A Node app that consumes the GitHub API to pipe the avatar JPEGs of project contributors into a local directory.</p>
          <a class="link-unstyled btn-project" href="https://github.com/ty2k/github-avatar-downloader">Visit project GitHub</a>
        </div>
      </div>

    </div>

    <div class="container container-social" id="social-links">
      <div class="row">
        <div class="col-xs-12 col-sm-6 offset-sm-3">
          <h2 class="heading-thin text-center">Social Media</h2>
          <div class="list-group">
            <a href="https://github.com/ty2k" class="list-group-item active" title="Tyler Krys - GitHub"><i class="fa fa-github" aria-hidden="true"></i>
     &nbsp GitHub</a>
            <a href="https://www.linkedin.com/in/tyler-krys-5b06bb3/" class="list-group-item list-group-item-action" title="Tyler Krys - LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
     &nbsp LinkedIn</a>
            <a href="https://www.freecodecamp.com/ty2k" class="list-group-item list-group-item-action" title="Tyler Krys - freeCodeCamp"><i class="fa fa-free-code-camp" aria-hidden="true"></i>
     &nbsp freeCodeCamp</a>
            <a href="/blog" class="list-group-item list-group-item-action" title="Tyler Krys - Blog"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
     &nbsp Blog</a>
            <a href="https://plus.google.com/u/0/+TylerKrys" class="list-group-item list-group-item-action" title="Tyler Krys - Google Plus"><i class="fa fa-google-plus-official" aria-hidden="true"></i>
     &nbsp Google&#43;</a>
            <a href="https://twitter.com/TylerKrys" class="list-group-item list-group-item-action" title="Tyler Krys - Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i>
     &nbsp Twitter</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container container-full-height container-contact" id="contact-form">
      <form class="form-horizontal" action="/contact" method="post" role="form">
        <fieldset>
          <div class="container">
            <h2 class="heading-thin text-center">Contact</h2>
            <div class="controls">
              <div class="form-group">
                <label class="control-label" for="name">Name &#42;</label>
                <div>
                  <input id="name" name="name" type="text" placeholder="Your name" class="form-control" required="required">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="email">Email &#42;</label>
                <div>
                  <input id="email" name="email" type="text" placeholder="Your email" class="form-control" required="required">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="message">Message &#42;</label>
                <div>
                  <textarea class="form-control" id="message" name="message" placeholder="Enter your message here" rows="3" required="required"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-lg" title="Submit contact form"><i class="fa fa-envelope" aria-hidden="true"></i>
     &nbsp Submit</button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <% include partials/_footer.ejs %>
    <% include partials/_bootstrap.ejs %>
  </body>
</html>
