@import "variables";

body, html {
  background-color: $white;
  height: 100%;
  margin: 0;
  width: 100%;
}

footer {
  a {
    color: $blue-dark;
  }
  a:hover {
    text-decoration: none;
  }
  p {
    font-size: 2em;
    line-height: 5em;
  }
  height: 5em;
  text-align: center;
}

.alert {
  p {
    margin-bottom: 0;
  }
}

.blog-date {
  color: $grey-dark;
  font-weight: 300px;
  font-size: 0.9em;
}

.blog-post {
  h2 {
    padding: 0.4em 0;
  }
  p,
  li {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  pre {
    background-color: $grey-light;
    padding: 0.2rem 0.4rem;
  }
}

.btn-primary {
  background-color: $blue-dark;
  border-color: $blue-dark;
}

.btn-project {
  border: 3px solid $black;
  color: black;
  display: inline-block;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  font-size: 0.9em;
  margin-bottom: 5px;
  padding: 5px 20px;
  text-transform: uppercase;
}

.container-blog {
  a {
    color: $blue-dark;
    font-weight: 600;
  }
  code {
    color: $red-dark;
  }
  margin-bottom: 50px;
  margin-top: 50px;
}

.container-contact {
  .form-horizontal {
    background-color: $semi-transparent-dark-background;
    margin: 0;
    width: 100%;
  }
  background-image: url('../images/marsh-1600x1200.jpg');
  color: $white;
  padding: 8em 0;
}

.container-contact-solid {
  background-color: $yellow-light;
}

.container-full-height {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.container-hero {
  p {
    padding-top: 10px;
  }
  background-image: url('../images/river-valley-1600x1200.jpg');
  color: $white;
}

.container-projects {
  h3 {
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  background-color: $white;
  padding-bottom: 50px;
  padding-top: 50px;
}

.container-social {
  padding: 8em 0;
}

.heading-thin {
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 0.1em;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.hero-headline {
  .gravatar {
    border-radius: 150px;
    display: block;
    filter: grayscale(0%);
    margin: auto;
    padding: 1em;
    transition: all 0.6s ease;
  }
  .gravatar:hover {
    background-color: $white;
    transition: all 0.6s ease;
  }
  a {
    color: $white;
  }
  a:hover {
    text-decoration: none;
  }
  h1 {
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  p {
    line-height: 1.3em;
    font-weight: 300;
    margin-bottom: 0.5em;
  }
  background-color: $semi-transparent-dark-background;
  padding: 1em 0;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  position: absolute;
  top: 18%;
  width: 100%;
}

.icon-contact {
  filter: invert(1);
  height: 1em;
  width: 1em;
}

.icon-menu {
  filter: invert(0.4);
  height: 1.25em;
  width: 1em;
}

.icon-social {
  height: 1em;
  width: 1em;
}

.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    color: inherit;
    text-decoration: none;
  }
}

.navbar {
  z-index: 2;
}

.navbar-light .navbar-nav .nav-link {
  color: $black-70;
  :hover {
    color: $black-80;
  }
}

.project {
  padding: 40px 0;
}

.project-description {
  a {
    color: $blue-dark;
    font-weight: 500;
  }
  font-weight: 100;
}

.project-img-container {
  margin-bottom: 20px;
  max-height: 250px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.2);
}

.project-stack {
  color: $grey-dark;
  font-size: 0.7em;
  font-weight: 100;
}

.tk-logo-header {
  background-color: $grey-logo-background;
  fill: inherit;
  height: 30px;
  margin-right: 12px;
  width: 30px;
}
