$black: rgba(0, 0, 0, 1);
$blue-dark: rgba(0, 81, 168, 1);
$grey-light: rgba(247, 247, 249, 1);
$grey-logo-background: rgba(64, 64, 64, 1);
$grey-dark: rgba(89, 89, 89, 1);
$red-dark: rgba(210, 0, 0, 1);
$semi-transparent-dark-background: rgba(0, 0, 0, 0.7);
$white: rgba(255, 255, 255, 1);
$yellow-light: rgba(255, 249, 153, 1);
