$black: rgba(0, 0, 0, 1);
$grey-light: rgba(247, 247, 249, 1);
$grey-dark: rgba(136, 136, 136, 1);
$semi-transparent-dark-background: rgba(0, 0, 0, 0.7);
$white: rgba(255, 255, 255, 1);
$yellow-light: rgba(255, 249, 153, 1);
